body {
  background-color: #003f88;
}

html, body {
    margin: 0;
    min-height: 100%;
}

* {
    color: #fdc500;
    font-family: 'Noto Sans Mono, Regular';
}

@font-face {
    font-family: 'Noto Sans Mono, Regular';
    src: url('NotoSansMono-Regular.ttf');
    font-display: swap;
}