body {
  background-color: #003f88;
  margin-bottom: 7%;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    height: 86%;
}

#content {
    margin-left: 25%;
    margin-right: 25%;
    min-height: 100%;
}

@media (max-width: 1000px) {
    #content {
        margin-left: 2%;
        margin-right: 2%;
    }
}

#footer {
    position: static;
    padding: 2% 0;
}

* {
    color: #fdc500;
    font-family: 'Noto Sans Mono, Regular';
}

@font-face {
    font-family: 'Noto Sans Mono, Regular';
    src: url('NotoSansMono-Regular.ttf');
    font-display: swap;
}

button {
    background-color: #00296b;
    border: 0 none transparent;
    padding: 1% 2%;
}

button:hover {
    background-color: #003f88;
    cursor: pointer;
}

dt {
    font-size: 1.3em;
}